<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Developed by Gianluca Catalfamo</span>
        </div>
    </div>
</footer>